[submodule "Web-Fundamentals-Teamwork"]
	path = Web-Fundamentals-Teamwork
	url = https://github.com/BURNT-ORANGE/Web-Fundamentals-Teamwork.git
[submodule "JS-Teamwork"]
	path = JavaScript-Teamwork
	url = https://github.com/Team-redcurrant/JS-Teamwork
[submodule "TeamProject"]
	path = PHP-Teamwork
	url = https://github.com/Team-Bogota-PHP/TeamProject
[submodule "Teamwork-OOP"]
	path = OOP-Teamwork
	url = https://github.com/Team-Sweet-William/Teamwork-OOP
[submodule "JavaTeamwork"]
	path = Java-Teamwork
	url = https://github.com/krastoss/JavaTeamwork
